<div class="splash-container">
  <div class="logo-container">
    <h1 class="app-title">snapbudget</h1>
    <h3 class="subtitle">Manage your expenses collectively</h3>
    <p class="sub-sub">Please create an account or log in</p>
  </div>
  <div class="sign-links">
    <%= link_to 'Get started', new_user_registration_path,  class: 'btn btn-primary sign-up' %> 
    <%= link_to 'Log in'.html_safe, new_user_session_path, class: 'log-in' %>
  </div>
</div>
<div class="shadow"></div>